@import "tailwindcss";

@layer components{
    .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid rgb(165, 164, 164);
    border-right-color: rgb(165, 164, 164);
    animation: rotate 1s infinite linear;
  }
}